@import "../../../variables";

.form-container {
    @include flex_center;
    height: 100%;

    .form {
        display: flex;
        flex-direction: column;
        // align-items: center;

        .h4 {
            text-align: center;
        }

        .input-row {
            width: 60%;
            @include flex_column_left;
            box-sizing: border-box;
            margin-bottom: 20px;
            position: relative;
            align-self: center;

            .auth-input {
                box-sizing: border-box;
                @include input;
            }

            ::placeholder {
                @include input_placeholder;
            }
        }

        .btn-container {
            align-self: center;

            .btn {
                @include button($main_blue, $main-light_text-color)
            }
        }

    }
}